.container {
    width: 100vw;
    height: 100vh;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.area {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.toolbar {
    margin: 1% 0 0 1%;
}

.mat-mdc-button>.mat-icon {
    color: #000;
    margin: 0;
}

.editor {
    height: 88%;
    resize: none;
    border: none;
}

.output {
    width: 50%;
    height: 10%;
    margin-top: 1%;
    border-radius: 10px;
    background-color: #fff;
}